:root {
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #2e2f42;
  --color-main-text: #2e2f42;
  --color-secondary-text: #434455;
  --color-tertiary-text: #f4f4fd;
  --text-title: #ffffff;
  --accent-text: #4d5ae5;
  --accent-pressed: #404bbf;
  --border-tabs: #e7e9fc;
  --clients: #8e8f99;
  --social-icons: #31d0aa;
  --modal-bg: #fcfcfc;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--color-secondary-text);
  background-color: var(--primary-bg-color);
  line-height: 1.5;
  min-width: 1158px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.list {
  list-style-type: none;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/**
  |============================
  | Header
  |============================
*/
/* Navigation */

.header {
  border-bottom: 1px solid var(--border-tabs);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header > .container-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-header {
  display: inline-block;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-text);
  margin-right: 76px;
}

.logo-header-two {
  color: var(--color-main-text);
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-main-text);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;

  display: block;
  padding: 24px 0;
}

.site-nav {
  gap: 40px;
}

.nav-link:hover,
.nav-link:focus,
.nav-link.current {
  color: var(--accent-pressed);
}

.nav-link.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;

  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-pressed);
}

/* Contacts */

.site-contacts {
  font-style: normal;
  margin: 24px 0 24px 0;
}

.contacts {
  display: flex;
  gap: 40px;
}

.contacts .link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-secondary-text);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-pressed);
}

/**
  |============================
  | Main Studio
  |============================
*/
/* Hero Content */

.section-hero {
  text-align: center;
  height: 600px;
  max-width: 1440px;
  margin: 0 auto;
  flex-shrink: 0;
  padding: 188px 0;

  color: var(--text-title);
  background-color: var(--secondary-bg-color);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.hero-button {
  display: block;
  align-items: flex-start;
  gap: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--text-title);
  background-color: var(--accent-text);
  cursor: pointer;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-hero .hero-button:hover,
.section-hero .hero-button:focus {
  background-color: var(--accent-pressed);
}

/* Features */

.features-container {
  display: flex;
  flex-shrink: 0;
}

.features-section {
  text-align: left;
  padding: 120px 0;
}

.features-list {
  display: flex;
  gap: 24px;
}

.features-icons-bord {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  width: 264px;
  height: 112px;
  border-radius: 4px;
  background-color: var(--color-tertiary-text);
  margin-bottom: 8px;
}

.card-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-main-text);
  margin-top: 0;
  margin-bottom: 8px;
}

.card-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-secondary-text);
}

/* What are we doing */

.section-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-main-text);
  text-align: center;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 72px;
}

.activity-list {
  display: flex;
  align-items: flex-start;
  gap: 24px;
}

.activity-list-item {
  width: calc(100%-48) / 3;
}

.section-activity {
  padding-bottom: 120px;
}

/* Our Team */

.section-team {
  background-color: var(--color-tertiary-text);
  padding: 120px 0;
}

.team-list {
  display: flex;
  padding-bottom: 0px;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.team-list-item {
  background-color: var(--primary-bg-color);
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-title {
  margin-bottom: 72px;
}

.team-text {
  padding: 32px 0;
}

.team-card-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-main-text);
  text-align: center;
  margin-bottom: 8px;
}

.team-card-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-secondary-text);
  text-align: center;
  padding-bottom: 8px;
}

.team-list-icons {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.team-icons-item {
  width: 40px;
  height: 40px;
}

.team-icons-item .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-radius: 50%;
  color: var(--color-tertiary-text);
  background-color: var(--accent-text);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-list-item .link:hover,
.team-list-item .link:focus {
  background-color: var(--accent-pressed);
}

.team-icons {
  fill: currentColor;
}

/* Customers */

.customers-section {
  padding: 120px 0;
}

.customers-container {
}

.customers-title {
  margin-bottom: 72px;
}

.customers-list {
  display: flex;
  gap: 24px;
}

.customers-item {
  width: 168px;
  height: 88px;
  width: calc((100% - 120) / 6);
}

.customers-item .link {
  display: flex;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid var(--clients);
  justify-content: center;
  align-items: center;
  color: var(--clients);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-item .link:hover,
.customers-item .link:focus {
  border-color: var(--accent-pressed);
  color: var(--accent-pressed);
}

.customers-icons {
  fill: currentColor;
}

/**
  |============================
  | Main portfolio
  |============================
*/
/* Portfolio content */

.section-portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}

.portfolio-tabs {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  justify-content: center;
  align-items: center;

  color: var(--accent-text);
  background: var(--color-tertiary-text);

  cursor: pointer;
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid #e7e9fc;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-portfolio .portfolio-tabs:hover {
  background-color: var(--accent-pressed);
  color: var(--primary-bg-color);
  border-color: transparent;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.section-portfolio .portfolio-tabs:focus {
  background-color: var(--accent-pressed);
  color: var(--primary-bg-color);
  border: 1px solid transparent;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

/*  Galery */

.portfolio-galery {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.portfolio-galery-item {
  width: calc((100% - 48px) / 3);
}

.galery-link {
  display: block;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.galery-link:hover,
.galery-link:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.img-galery {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-tertiary-text);
  background-color: var(--accent-text);
  padding: 40px 32px;
}

.galery-link:hover .overlay-text,
.galery-link:focus .overlay-text {
  transform: translateY(0%);
}

.portfolio-text {
  padding: 32px 16px;
  border: 1px solid var(--border-tabs);
  border-top: none;
}

.galery-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-main-text);
  margin-bottom: 8px;
}

.galery-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-secondary-text);
}

/**
  |============================
  | Footer
  |============================
*/

.section-footer {
  background-color: var(--secondary-bg-color);
  height: 312px;
  flex-shrink: 0;
  padding: 100px 0;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.logo-footer-section {
  margin-right: 120px;
}

.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-text);
}

.logo-footer-two {
  color: var(--color-tertiary-text);
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-tertiary-text);
  width: 264px;
}

.social-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  color: var(--text-title);
}

.social-list-icons {
  display: flex;
  gap: 16px;
  align-items: center;
}

.social-icons-item {
  width: 40px;
  height: 40px;
}

.social-icons-item .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-radius: 50%;
  color: var(--color-tertiary-text);
  background-color: var(--accent-text);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons-item .link:hover,
.social-icons-item .link:focus {
  background-color: var(--social-icons);
}

.social-icons {
  fill: currentColor;
}

/**
  |============================
  | Modal-backdrop
  |============================
*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: var(--navyblue-modal, rgba(46, 47, 66, 0.4));
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 408px;
  min-height: 584px;
  flex-shrink: 0;
  transform: translate(-50%, -50%);
  opacity: 1;

  border-radius: 4px;
  background-color: var(--modal-bg);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -70%);
  opacity: 0;
}

.modal-close {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 24px;
  right: 24px;

  width: 24px;
  height: 24px;
  padding: 0;
  flex-shrink: 0;
  color: var(--color-main-text);
  background-color: var(--border-tabs);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.x-modal-close {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
  color: var(--primary-bg-color);
  background-color: var(--accent-pressed);
  border: none;
}
